<form action="/api/add" method="POST">
  <p>Title:</p>
  <input type="text" name="title" id="title">
  <p>URL:</p>
  <input type="text" name="url" id="url">
  <br/>
  <input type="submit" value="Add Link!"/>
</form>
