<!DOCTYPE html> 
<h2><%= @link.title %></h2>
<b>You are about to delete this link. That cool?</b>
<form action="/api/delete/<%= @link.id %>" method="post">
<input type="hidden" name="_method" value="delete" />
<input type="submit" value="Delete">
 or <a href="/">Cancel</a>
</form>
