<!DOCTYPE html> 
<html>
  <head>
   <link href="/css/bootstrap.css" rel="stylesheet">
   <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="span4">
        <form action="/api/edit/<%= @link.id %>" method="POST">
          <input name="_method" type="hidden" value="put" />
          <label>Title</label>
          <input type="text" name="title" id="title" value="<%= @link.title %>">
          <label>URL</label>
          <input type="text" name="url" id="url" value="<%= @link.url %>">
          <br />
          <button type="submit" class="btn">Update</button>
        </form>
    </div>
  </div>
</div>
</body>
</html>